{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<style media="screen">
  * {margin: 0;padding: 0;}
</style>
  </head>
  <body>
    <div style="font-size: 16px;font-family: 'Montserrat', sans-serif;max-width: 800px;margin: 40px auto;">
      <table style="margin-bottom: 15px; width: 100%;">
        <tbody>
          <tr>
            <td style="width: 60%;">
              <h1 style="margin-bottom: 5px;">Dr. Harish CH Chaudhury</h1>
              <div style="color: #a7a7a7;font-size: 14px;">
                <p style="color: inherit;line-height: 1.5;">MBBS, MD, MSCCRRA, PGDGM,FICM, ACMDC CONSULTANT, GERIATIC MEDICINE AND CRITICAL CARE KALINGA INSTITUTE OF MEDICAL SCIENCES (KIMS) BHUBANESWAR ODISHA </p>
                <div>
                  <a href="mailto:harish.chaudhury@gmail.com" style="color: inherit;text-decoration: none;">harish.chaudhury@gmail.com </a>
                </div>
                <div>
                  <a href="tel:7682806509" style="color: inherit;text-decoration: none;">7682806509</a>
                </div>
              </div>
            </td>
            <td style="width: 40%;text-align: right;">
              <div>
                <img src="{{protocol}}://{{ request.META.HTTP_HOST }}/static/logo.png" alt="Logo" height="304" width="254" style="width: 110px;height: auto;">
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="background: #e5e5e5;padding: 5px 15px;line-height: 1.5;margin-bottom: 15px;">

        <table style="width: 100%; ">
          <tbody>
            <tr>
              <td>
                <div>
                  <div>
                    <b>Name: </b>
                    <span>Raj Kumar</span>
                  </div>
                  <div>
                    <b>Age & Sex: </b>
                    <span>32y / M</span>
                  </div>
                  <div>
                    <b>Prescription ID: </b>
                    <span>12345</span>
                  </div>
                </div>
              </td>
              <td style="text-align: left;">
                <div style="display: inline-block;text-align: left;">
                  <div>
                    <b>Time: </b>
                    <span>10:10 am</span>
                  </div>
                  <div>
                    <b>Date: </b>
                    <span>20/07/2021</span>
                  </div>
                  <div>
                    <b>Mobile: </b>
                    <span>765432345</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div style="padding: 5px 15px;">
        <div style="margin-bottom: 15px;">
          <b>Findings: </b>
          <span>Cough</span>
        </div>
        <div style="margin-bottom: 15px;">
          <b>Notes: </b>
          <span>Testing</span>
        </div>
        <div style="margin-bottom: 15px;">
          <b>Diagnosis: </b>
          <span>Viral Fever</span>
        </div>
      </div>


      <div style="">
        <table style="width: 100%;border-collapse: collapse;margin-bottom: 35px;">
          <thead>
            <tr style="background: #e5e5e5;">
              <th style="text-align: left;border-right: 1px solid #727272;padding: 1px 5px;width: 1px;">No.</th>
              <th style="padding: 1px 5px;border-right: 1px solid #727272;">Prescription</th>
              <th style="padding: 1px 5px;border-right: 1px solid #727272;">Frequency</th>
              <th style="padding: 1px 5px;border-right: 1px solid #727272;">Duration</th>
              <th style="padding: 1px 5px;">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;">1</td>
              <td style="padding: 4px 5px;">Tab: Paracetamol 650mg</td>
              <td style="padding: 4px 5px;">I - O - I</td>
              <td style="padding: 4px 5px;">3 days</td>
              <td style="padding: 4px 5px;">Before food</td>
            </tr>

            <tr style="border: 1px solid #858585;">
              <td style="text-align: center;">1</td>
              <td style="padding: 4px 5px;">Syr: Benadryl</td>
              <td style="padding: 4px 5px;">2 - O - 2</td>
              <td style="padding: 4px 5px;">6 days</td>
              <td style="padding: 4px 5px;">2 Tea spoons</td>
            </tr>


          </tbody>
        </table>
      </div>

    <div style="margin-bottom: 60px;">
      <div style="margin-bottom: 15px;">
        <b>Advised Investigations: </b>
        <span>CBC</span>
      </div>
      <div style="margin-bottom: 15px;">
        <b>Advised Procedures: </b>
        <div>Testing</div>
      </div>
      <div style="margin-bottom: 15px;">
        <b>Instructions: </b>
        <div>Maintain healty diet</div>
      </div>

      <div style="margin-bottom: 15px;">
        <b>Follow Up: </b>
        <span>After 1 week.</span>
      </div>
    </div>

      <table>
        <tbody>
          <tr>
            <td>
              <img src="" alt="">
            </td>
            <td>
              <img src="{{protocol}}://{{ request.META.HTTP_HOST }}/static/logo-2.png" alt="logo2" style="max-width: 150px;height: auto;">
            </td>
          </tr>
        </tbody>
      </table>
      <div>Scan QR code to download this prescription</div>
    </div>
  </body>
</html>
